!!!
%html
  %head
    %title YoursTruly
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      %div.container-fluid
        %a.navbar-brand(href="#")Yours Truly
        - if current_user
          %p
            Welcome, #{current_user.name}
          = link_to "Logout", logout_path
    = yield
