!!!
%html
  %head
    %title YoursTruly
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      %div.container-fluid
        %a.navbar-brand(href=root_path)Yours Truly
        .nav.navbar-nav.navbar-right#nav-padding
          - if current_user
            %span
              Welcome, #{current_user.name}
            %span
              = link_to "Logout", logout_path, method: :delete
          - else
            %span
              = link_to "Login", login_path
    .flash
      - if flash[:error]
        .error
          = flash[:error]
      - if flash[:success]
        .success
          = flash[:success]
    %div.container
      = yield
