!!!
%html
  %head
    %title YoursTruly
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      %div.container-fluid
        %a.navbar-brand(href="#")Yours Truly
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li
              Welcome, #{current_user.name}
            %li
              = link_to "Logout", logout_path, method: :delete
          - else
            %li
              = link_to "Login", login_path
    .flash
      - if flash[:error]
        .error
          = flash[:error]
    %div.container
      = yield
